body {
  background-color: black;
  margin: 0;
  border: 0;
  padding: 0;
}
.worldCanvas {
  float: left;
  border: 0;
  padding: 0 0 0 0;
  margin: 0;
  position: absolute;
}
.toolsCanvas {
  float: right;
  border: 0;
  padding: 0 0 0 0;
  margin: 0;
}
.tileChoiceOption {
  clear: both;
  margin: 0;
  border: 0;
  padding: 3px;
}
.tileChoiceImg {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
}
.tileChoiceDesc {
  margin: 0;
  display: inline-block;
  border: 0;
  padding: 5px;
  color: white;
}
.tileChoiceDesc p {
  margin: 0;
}
