/* I need to be absolute about this stuff everywhere */
body,canvas,img,div {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: black;
  overflow: hidden; /* remove scrollbars */
}

.worldCanvas {
  display: inline-block;
  height: inherit;
  width: 66%;
}

.toolsDiv {
  display: inline-block;
  height: inherit;
  overflow: auto; /* this creates a scroll bar for this div */
  width: 33%;
}
.tileChoiceOption {
  padding: 3px 0 0 0;
}
.tileChoiceImg {
  display: inline-block;
}
.tileChoiceDesc {
  display: inline-block;
  padding: 5px;
  color: white;
}
.tileChoiceDesc p {
  margin: 0;
}
