body {
  background-color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
#world {
  float: left;
  border: 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  position: absolute;
}
#tools {
  float: right;
  border: 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
div.tileChoice {
}
div.tileChoiceOption {
  clear: both;
  margin: 0px;
  border: 0px;
  padding: 3px;
}
img.tileChoiceImg {
  float: left;
  display: inline-block;
  margin: 0px;
  border: 0px;
  padding: 0px;
}
div.tileChoiceDesc {
  margin: 0px;
  display: inline-block;
  border: 0px;
  padding: 5px;
  color: white;
}
div.tileChoiceDesc p {
  margin: 0px;
}
