/* I need to be absolute about this stuff everywhere */
body,canvas,img,div {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  overflow: hidden; /* remove scrollbars */
}

.kod-noboxmodel {
  margin: 0;
  border: 0;
  padding: 0;
}
